* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
}

body{
    margin:0;
    background-color: var(--clr0);

}

.img-gallery-container img {
    height: 12.5em;
}

.btn img {
    height: 2.5em;
    /* padding: 0; */
    /* margin: 0; */
}

.hide {
    display: none;
}

/* .canvas-container {
    display:grid
    width: 70vw;
    height: 70vh;

} */