body{
    margin:0;
    background-color: var(--clr0);
}

img {
    height: 200px;
}

li img {
    height: 20px;
}

.hide {
    display: none;
}

/* .canvas-container {
    display:grid
    width: 70vw;
    height: 70vh;

} */