/* MAIN LAYOUT */

.main-layout {
    display: grid;
    /* grid-template-columns:
        minmax(47px, 1fr) minmax(auto, 1106px) minmax(47px, 1fr); */

    grid-template-columns:
        minmax(var(--layout-padding), 1fr) minmax(auto, var(--site-width)) minmax(var(--layout-padding), 1fr)
}

.main-layout> :not(.full) {
    grid-column: 2/ 3;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

/* .main-content {
    align-items: center;
} */



/*GALLERY IMG LAYOUT*/


.img-gallery-layout {
    display: flex;
    margin-block-start: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/*EDITOR CONTAINER LAYOUT*/

.meme-editor-layout {
    display: grid;
    grid-template-columns: var(--meme-layout);
    /* margin-block-end: 81px; */
    gap: 43px;
    margin: 20px;
}

.toolbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}



/* .meme-editor {
display: grid;
grid-template-columns:
minmax(var(--layout-padding), 1fr)
minmax(auto, 500px)
minmax(var(--layout-padding), 1fr);
} */

/* .toolbar {
    display: ;
    grid-template-columns: 1fr;
    justify-content: center;
    gap:10px;
} */