/* MOBILE ONLY */

@media (max-width: 380px) {
    .secondary-layout {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .canvas-container {
        width: 200px;
        height: 200px;
        gap: 10px;
    }
}

@media (max-width: 520px) {

    .secondary-layout {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .canvas-container {
        width: 300px;
        height: 300px;
        margin: 10px;
    }
}

@media (max-width: 890px) {
    .secondary-layout {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    .canvas-container {
        width: 400px;
        height: 400px;
        margin-block-start: 20px;
    }
}